<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519194855679-90tuig32afgnjt7c8oce4ghpnflocpl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519194855679-90tuig32afgnjt7c8oce4ghpnflocpl3</string>
	<key>API_KEY</key>
	<string>AIzaSyD-s4H_7qrh4QauqVT9w1S2zo2ouJb5hNY</string>
	<key>GCM_SENDER_ID</key>
	<string>519194855679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsv.testpush</string>
	<key>PROJECT_ID</key>
	<string>test-ba745</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ba745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519194855679:ios:228fd23762b4c31cdee4ca</string>
	<key>DATABASE_URL</key>
	<string>https://test-ba745.firebaseio.com</string>
</dict>
</plist>