<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Alamofire</string>
			<key>Title</key>
			<string>Alamofire (5.6.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/BraveTabbarController</string>
			<key>Title</key>
			<string>BraveTabbarController (1.1.7)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/CocoaLumberjack</string>
			<key>Title</key>
			<string>CocoaLumberjack (3.7.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Eureka</string>
			<key>Title</key>
			<string>Eureka (5.3.6)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Firebase</string>
			<key>Title</key>
			<string>Firebase (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FirebaseAnalytics</string>
			<key>Title</key>
			<string>FirebaseAnalytics (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FirebaseCore</string>
			<key>Title</key>
			<string>FirebaseCore (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FirebaseCoreDiagnostics</string>
			<key>Title</key>
			<string>FirebaseCoreDiagnostics (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FirebaseCoreInternal</string>
			<key>Title</key>
			<string>FirebaseCoreInternal (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FirebaseInstallations</string>
			<key>Title</key>
			<string>FirebaseInstallations (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FirebaseMessaging</string>
			<key>Title</key>
			<string>FirebaseMessaging (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FSPagerView</string>
			<key>Title</key>
			<string>FSPagerView (0.8.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement (9.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport (9.2.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities (7.11.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ImageRow</string>
			<key>Title</key>
			<string>ImageRow (4.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist (3.24.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MBProgressHUD</string>
			<key>Title</key>
			<string>MBProgressHUD (1.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Moya</string>
			<key>Title</key>
			<string>Moya (14.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/nanopb</string>
			<key>Title</key>
			<string>nanopb (2.30909.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/NSObject+Rx</string>
			<key>Title</key>
			<string>NSObject+Rx</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/PromisesObjC</string>
			<key>Title</key>
			<string>PromisesObjC (2.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RoundedUI</string>
			<key>Title</key>
			<string>RoundedUI (1.1.12)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxBiBinding</string>
			<key>Title</key>
			<string>RxBiBinding (0.2.5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxCocoa</string>
			<key>Title</key>
			<string>RxCocoa (5.1.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxRelay</string>
			<key>Title</key>
			<string>RxRelay (5.1.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxSwift</string>
			<key>Title</key>
			<string>RxSwift (5.1.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SDWebImage</string>
			<key>Title</key>
			<string>SDWebImage (5.15.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SnapKit</string>
			<key>Title</key>
			<string>SnapKit (5.0.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftDate</string>
			<key>Title</key>
			<string>SwiftDate (5.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftLint</string>
			<key>Title</key>
			<string>SwiftLint (0.50.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/UIScrollView-InfiniteScroll</string>
			<key>Title</key>
			<string>UIScrollView-InfiniteScroll (1.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
